<!-- filtered list of upcoming pairings -->
<div class='list'>
  <h1>Available Pairing Sessions</h1>

    <%= render @available_pairings %>

  <%= link_to 'My Mentor Pairings', user_mentor_path(current_user), class: 'btn'  %><br><br>
  <%= link_to 'My Student Pairings', user_student_path(current_user), class: 'btn' %>
</div>
