<!-- filtered list of upcoming pairings -->
<div class='list'>
  <h1>Available Pairing Sessions</h1>
    <a class="btn" onclick="Materialize.toast('Pete Pairs!', 4000)">What does Pete do?</a>

 <!-- Modal Trigger -->
  <a class="pete waves-effect waves-light btn modal-trigger" href="#modal1">Hi Pete!</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Pete has a beard</h4>
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAIwAAAAJGU5YWU1ZmE4LTRiYTUtNDJkNS05MzMyLWM2YWU0ODUzMWRiMw.jpg" alt="Pete" height="750" width="750"><br>
      <img src="https://pbs.twimg.com/media/CtC8t6WUIAEJkOq.jpg" alt="Pete" height="750" width="750"><br>
      <img src="https://pbs.twimg.com/profile_images/710934380173103104/2Y31J86q.jpg" alt="Pete" height="750" width="750"><br>
      <img src="https://assets.about.me/background/users/l/e/o/leongersing_1460940546_71.jpg" alt="Pete" height="750" width="750"><br>
      <img src="https://66.media.tumblr.com/651dd54b0c5ea945eb305ad8ee2ae39c/tumblr_ns5kbntczF1ur7mdeo1_400.gif" alt="Pete" height="750" width="750"><br>Time to Drink!
   </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Bye Pete</a>
    </div>
  </div>

    <%= render @available_pairings %>
  <% if current_user.phase == 2 || current_user.phase == 3 %>
    <%= link_to 'My Mentor Pairings', user_mentor_path(current_user), class: 'btn'  %><br><br>
  <% end %>
  <%= link_to 'My Student Pairings', user_student_path(current_user), class: 'btn' %>
</div>
