<!-- filtered list of upcoming pairings -->

<h1>Available Pairing Sessions</h1>
  <%= link_to 'Create New Pairing Session', new_pairing_path %>
  <%= render @available_pairings %>

<%= link_to 'Mentor Pairings', user_mentor_path(current_user) %>
<%= link_to 'Student Pairings', user_student_path(current_user) %>
