<!-- filtered list of upcoming pairings -->

<h1>Mentor's Upcoming Pairing Sessions</h1>
  <%= link_to 'Create New Pairing Session', new_pairing_path %>
    <%= render @pairings %>

<h1>Previous</h1>
